n8n-voice-intake.json
{
  "name": "Voice Intake → Agentic RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/voice/text",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.text || $json.body }}"
            },
            {
              "name": "project",
              "value": "={{ $json.body.project || 'default' }}"
            },
            {
              "name": "source",
              "value": "iphone-shortcut"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-node",
      "name": "Save to Agentic RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-node",
      "name": "Respond to Shortcut",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Save to Agentic RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Agentic RAG": {
      "main": [
        [
          {
            "node": "Respond to Shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
