p0-foundation/n8n-workflows/P0-03_VK_Event_Receiver.json
{
  "name": "P0-03_VK_Event_Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk-events",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-vk",
      "name": "Webhook: VK Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "vk-events"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            { "value2": "message_new" },
            { "value2": "wall_reply_new" },
            { "value2": "wall_reply_edit" },
            { "value2": "wall_post_new" },
            { "value2": "system" }
          ]
        }
      },
      "id": "switch-type",
      "name": "Switch: Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-from", "name": "from_id", "value": "={{ $json.message.from_id }}", "type": "number" },
            { "id": "set-text", "name": "text", "value": "={{ $json.message.text }}", "type": "string" },
            { "id": "set-peer", "name": "peer_id", "value": "={{ $json.message.peer_id }}", "type": "number" },
            { "id": "set-date", "name": "date", "value": "={{ $json.received_at }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-message-fields",
      "name": "Extract: Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Логи_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "Тип": "info",
            "Событие": "Новое ЛС",
            "Детали": "={{ JSON.stringify({from_id: $json.from_id, text: $json.text, peer_id: $json.peer_id}) }}",
            "Статус": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Тип", "displayName": "Тип", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Событие", "displayName": "Событие", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Детали", "displayName": "Детали", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-message",
      "name": "Log: Message",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"\uD83D\uDCE9 <b>Новое ЛС в группу</b>\\n\\nОт: <a href=\\\"https://vk.com/id{{ $('Extract: Message').item.json.from_id }}\\\">VK ID {{ $('Extract: Message').item.json.from_id }}</a>\\nТекст: {{ $('Extract: Message').item.json.text }}\\n\\n\u23F0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-message",
      "name": "Telegram: New DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 150]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-commentid", "name": "comment_id", "value": "={{ $json.comment.id }}", "type": "number" },
            { "id": "set-from2", "name": "from_id", "value": "={{ $json.comment.from_id }}", "type": "number" },
            { "id": "set-postid", "name": "post_id", "value": "={{ $json.comment.post_id }}", "type": "number" },
            { "id": "set-text2", "name": "text", "value": "={{ $json.comment.text }}", "type": "string" },
            { "id": "set-date2", "name": "date", "value": "={{ $json.received_at }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-comment-fields",
      "name": "Extract: Comment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Логи_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "Тип": "info",
            "Событие": "Новый комментарий",
            "Детали": "={{ JSON.stringify({from_id: $json.from_id, post_id: $json.post_id, text: $json.text}) }}",
            "Статус": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Тип", "displayName": "Тип", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Событие", "displayName": "Событие", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Детали", "displayName": "Детали", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-comment",
      "name": "Log: Comment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"\uD83D\uDCAC <b>Новый комментарий</b>\\n\\nПост: wall-{{ $env.VK_GROUP_ID }}_{{ $('Extract: Comment').item.json.post_id }}\\nОт: <a href=\\\"https://vk.com/id{{ $('Extract: Comment').item.json.from_id }}\\\">VK ID {{ $('Extract: Comment').item.json.from_id }}</a>\\nТекст: {{ $('Extract: Comment').item.json.text }}\\n\\n\u23F0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-comment",
      "name": "Telegram: New Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 350]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Логи_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "Тип": "info",
            "Событие": "Новый пост на стене",
            "Детали": "={{ JSON.stringify($json) }}",
            "Статус": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Тип", "displayName": "Тип", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Событие", "displayName": "Событие", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Детали", "displayName": "Детали", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-post",
      "name": "Log: New Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"\uD83D\uDCDD <b>Новый пост на стене</b>\\n\\n\u23F0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-post",
      "name": "Telegram: New Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "cond-err", "leftValue": "={{ $json.event }}", "rightValue": "longpoll_error", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-system-error",
      "name": "IF: LP Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"\u26A0\uFE0F <b>VK Long Poll ошибка</b>\\n\\n{{ $json.error }}\\n\\nАвтоматический перезапуск...\\n\u23F0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-error",
      "name": "Telegram: LP Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"\u2705 <b>VK Long Poll запущен</b>\\n\\n\u23F0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-started",
      "name": "Telegram: LP Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Логи_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "Тип": "info",
            "Событие": "={{ $json.type }}",
            "Детали": "={{ JSON.stringify($json) }}",
            "Статус": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Тип", "displayName": "Тип", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Событие", "displayName": "Событие", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Детали", "displayName": "Детали", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Статус", "displayName": "Статус", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-default",
      "name": "Log: Other Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook: VK Events": {
      "main": [[ { "node": "Switch: Event Type", "type": "main", "index": 0 } ]]
    },
    "Switch: Event Type": {
      "main": [
        [{ "node": "Extract: Message", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Log: New Post", "type": "main", "index": 0 }],
        [{ "node": "IF: LP Error?", "type": "main", "index": 0 }],
        [{ "node": "Log: Other Event", "type": "main", "index": 0 }]
      ]
    },
    "Extract: Message": {
      "main": [[ { "node": "Log: Message", "type": "main", "index": 0 } ]]
    },
    "Log: Message": {
      "main": [[ { "node": "Telegram: New DM", "type": "main", "index": 0 } ]]
    },
    "Telegram: New DM": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "Extract: Comment": {
      "main": [[ { "node": "Log: Comment", "type": "main", "index": 0 } ]]
    },
    "Log: Comment": {
      "main": [[ { "node": "Telegram: New Comment", "type": "main", "index": 0 } ]]
    },
    "Telegram: New Comment": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "Log: New Post": {
      "main": [[ { "node": "Telegram: New Post", "type": "main", "index": 0 } ]]
    },
    "Telegram: New Post": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "IF: LP Error?": {
      "main": [
        [{ "node": "Telegram: LP Error", "type": "main", "index": 0 }],
        [{ "node": "Telegram: LP Started", "type": "main", "index": 0 }]
      ]
    },
    "Telegram: LP Error": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "Telegram: LP Started": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "Log: Other Event": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
