p0-foundation/n8n-workflows/P0-03_VK_Event_Receiver.json
{
  "name": "P0-03_VK_Event_Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-vk",
      "name": "Webhook: VK Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "vk-events"
    },
    {
      "parameters": {
        "jsCode": "// Flatten webhook body + inject env config\n// N8N 2.x blocks $env in expressions, so we read process.env here\nconst body = $input.first().json.body || $input.first().json;\nconst _cfg = {\n  spreadsheetId: process.env.GOOGLE_SPREADSHEET_ID || '',\n  tgBotToken: process.env.TELEGRAM_BOT_TOKEN || '',\n  tgChatId: process.env.TELEGRAM_MANAGER_CHAT_ID || '',\n  vkGroupId: process.env.VK_GROUP_ID || '',\n  webhookBase: process.env.N8N_WEBHOOK_BASE_URL || ''\n};\nreturn [{ json: { ...body, _cfg } }];"
      },
      "id": "flatten-body",
      "name": "Flatten: Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            { "value2": "message_new" },
            { "value2": "wall_reply_new" },
            { "value2": "wall_reply_edit" },
            { "value2": "wall_post_new" },
            { "value2": "system" },
            { "value2": "photo_comment_new" },
            { "value2": "photo_comment_edit" }
          ]
        }
      },
      "id": "switch-type",
      "name": "Switch: Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-from", "name": "from_id", "value": "={{ $json.message.from_id }}", "type": "number" },
            { "id": "set-text", "name": "text", "value": "={{ $json.message.text }}", "type": "string" },
            { "id": "set-peer", "name": "peer_id", "value": "={{ $json.message.peer_id }}", "type": "number" },
            { "id": "set-date", "name": "date", "value": "={{ $json.received_at }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-message-fields",
      "name": "Extract: Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ 1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u041b\u043e\u0433\u0438_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "\u0422\u0438\u043f": "info",
            "\u0421\u043e\u0431\u044b\u0442\u0438\u0435": "\u041d\u043e\u0432\u043e\u0435 \u041b\u0421",
            "\u0414\u0435\u0442\u0430\u043b\u0438": "={{ JSON.stringify({from_id: $json.from_id, text: $json.text, peer_id: $json.peer_id}) }}",
            "\u0421\u0442\u0430\u0442\u0443\u0441": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0438\u043f", "displayName": "\u0422\u0438\u043f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "displayName": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0414\u0435\u0442\u0430\u043b\u0438", "displayName": "\u0414\u0435\u0442\u0430\u043b\u0438", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0430\u0442\u0443\u0441", "displayName": "\u0421\u0442\u0430\u0442\u0443\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-message",
      "name": "Log: Message",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Flatten: Body').item.json._cfg.tgBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Flatten: Body').item.json._cfg.tgChatId }}\",\n  \"text\": \"\ud83d\udce9 <b>\u041d\u043e\u0432\u043e\u0435 \u041b\u0421 \u0432 \u0433\u0440\u0443\u043f\u043f\u0443</b>\\n\\n\u041e\u0442: <a href=\\\"https://vk.com/id{{ $('Extract: Message').item.json.from_id }}\\\">VK ID {{ $('Extract: Message').item.json.from_id }}</a>\\n\u0422\u0435\u043a\u0441\u0442: {{ $('Extract: Message').item.json.text }}\\n\\n\u23f0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-message",
      "name": "Telegram: New DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 150]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-commentid", "name": "comment_id", "value": "={{ $json.comment.id }}", "type": "number" },
            { "id": "set-from2", "name": "from_id", "value": "={{ $json.comment.from_id }}", "type": "number" },
            { "id": "set-postid", "name": "post_id", "value": "={{ $json.comment.post_id }}", "type": "number" },
            { "id": "set-text2", "name": "text", "value": "={{ $json.comment.text }}", "type": "string" },
            { "id": "set-date2", "name": "date", "value": "={{ $json.received_at }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-comment-fields",
      "name": "Extract: Comment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ 1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u041b\u043e\u0433\u0438_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "\u0422\u0438\u043f": "info",
            "\u0421\u043e\u0431\u044b\u0442\u0438\u0435": "\u041d\u043e\u0432\u044b\u0439 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
            "\u0414\u0435\u0442\u0430\u043b\u0438": "={{ JSON.stringify({from_id: $json.from_id, post_id: $json.post_id, text: $json.text}) }}",
            "\u0421\u0442\u0430\u0442\u0443\u0441": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0438\u043f", "displayName": "\u0422\u0438\u043f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "displayName": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0414\u0435\u0442\u0430\u043b\u0438", "displayName": "\u0414\u0435\u0442\u0430\u043b\u0438", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0430\u0442\u0443\u0441", "displayName": "\u0421\u0442\u0430\u0442\u0443\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-comment",
      "name": "Log: Comment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 350]
    },
    {
      "parameters": {
        "jsCode": "// Parse size and quantity from VK comment text\n// Supported sizes: XS, S, M, L, XL, XXL, 2XL, 3XL\n// Supported formats: \"M\", \"M 2\", \"2 M\", \"размер M\", \"M размер\"\n\nconst text = $input.item.json.text || '';\nconst textUpper = text.toUpperCase().trim();\n\n// Size patterns (order matters: check longer patterns first)\nconst sizePatterns = ['XXL', '3XL', '2XL', 'XL', 'XS', 'S', 'M', 'L'];\nlet size = '';\nlet quantity = 1;\n\n// Try to find size in text\nfor (const s of sizePatterns) {\n  const regex = new RegExp('\\\\b' + s + '\\\\b', 'i');\n  if (regex.test(textUpper)) {\n    size = s;\n    break;\n  }\n}\n\n// Try to find quantity (number near size or standalone)\nconst numMatch = text.match(/(\\d+)/);\nif (numMatch) {\n  const num = parseInt(numMatch[1]);\n  if (num >= 1 && num <= 99) {\n    quantity = num;\n  }\n}\n\n// Build unique ID: post_id + comment_id\nconst recordId = $input.item.json.post_id + '_' + $input.item.json.comment_id;\n\nreturn [{\n  json: {\n    ID_\u0437\u0430\u043f\u0438\u0441\u0438: recordId,\n    ID_\u043f\u043e\u0441\u0442\u0430_VK: String($input.item.json.post_id),\n    VK_ID_\u043a\u043b\u0438\u0435\u043d\u0442\u0430: $input.item.json.from_id,\n    \u0418\u043c\u044f_\u043a\u043b\u0438\u0435\u043d\u0442\u0430: '',\n    \u0420\u0430\u0437\u043c\u0435\u0440: size,\n    \u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e: quantity,\n    Timestamp: new Date().toISOString(),\n    \u041d\u043e\u043c\u0435\u0440_\u0432_\u043e\u0447\u0435\u0440\u0435\u0434\u0438: 0,\n    \u0421\u0442\u0430\u0442\u0443\u0441: size ? '\u043d\u043e\u0432\u044b\u0439' : '\u043d\u0435_\u0440\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u043d',\n    \u0418\u0441\u0442\u043e\u0447\u043d\u0438\u043a: 'VK_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439',\n    \u0422\u0435\u043a\u0441\u0442_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f: text,\n    \u0414\u0430\u0442\u0430_\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f: new Date().toISOString(),\n    _has_size: size !== ''\n  }\n}];"
      },
      "id": "parse-demand",
      "name": "Parse: Demand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 450]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ 1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u0421\u043f\u0440\u043e\u0441"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_\u0437\u0430\u043f\u0438\u0441\u0438": "={{ $json.ID_\u0437\u0430\u043f\u0438\u0441\u0438 }}",
            "ID_\u043f\u043e\u0441\u0442\u0430_VK": "={{ $json.ID_\u043f\u043e\u0441\u0442\u0430_VK }}",
            "VK_ID_\u043a\u043b\u0438\u0435\u043d\u0442\u0430": "={{ $json.VK_ID_\u043a\u043b\u0438\u0435\u043d\u0442\u0430 }}",
            "\u0418\u043c\u044f_\u043a\u043b\u0438\u0435\u043d\u0442\u0430": "={{ $json.\u0418\u043c\u044f_\u043a\u043b\u0438\u0435\u043d\u0442\u0430 }}",
            "\u0420\u0430\u0437\u043c\u0435\u0440": "={{ $json.\u0420\u0430\u0437\u043c\u0435\u0440 }}",
            "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e": "={{ $json.\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e }}",
            "Timestamp": "={{ $json.Timestamp }}",
            "\u041d\u043e\u043c\u0435\u0440_\u0432_\u043e\u0447\u0435\u0440\u0435\u0434\u0438": "={{ $json.\u041d\u043e\u043c\u0435\u0440_\u0432_\u043e\u0447\u0435\u0440\u0435\u0434\u0438 }}",
            "\u0421\u0442\u0430\u0442\u0443\u0441": "={{ $json.\u0421\u0442\u0430\u0442\u0443\u0441 }}",
            "\u0418\u0441\u0442\u043e\u0447\u043d\u0438\u043a": "={{ $json.\u0418\u0441\u0442\u043e\u0447\u043d\u0438\u043a }}",
            "\u0422\u0435\u043a\u0441\u0442_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f": "={{ $json.\u0422\u0435\u043a\u0441\u0442_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f }}",
            "\u0414\u0430\u0442\u0430_\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f": "={{ $json.\u0414\u0430\u0442\u0430_\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "ID_\u0437\u0430\u043f\u0438\u0441\u0438", "displayName": "ID_\u0437\u0430\u043f\u0438\u0441\u0438", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "ID_\u043f\u043e\u0441\u0442\u0430_VK", "displayName": "ID_\u043f\u043e\u0441\u0442\u0430_VK", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "VK_ID_\u043a\u043b\u0438\u0435\u043d\u0442\u0430", "displayName": "VK_ID_\u043a\u043b\u0438\u0435\u043d\u0442\u0430", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false},
            {"id": "\u0418\u043c\u044f_\u043a\u043b\u0438\u0435\u043d\u0442\u0430", "displayName": "\u0418\u043c\u044f_\u043a\u043b\u0438\u0435\u043d\u0442\u0430", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0420\u0430\u0437\u043c\u0435\u0440", "displayName": "\u0420\u0430\u0437\u043c\u0435\u0440", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e", "displayName": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false},
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u041d\u043e\u043c\u0435\u0440_\u0432_\u043e\u0447\u0435\u0440\u0435\u0434\u0438", "displayName": "\u041d\u043e\u043c\u0435\u0440_\u0432_\u043e\u0447\u0435\u0440\u0435\u0434\u0438", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0430\u0442\u0443\u0441", "displayName": "\u0421\u0442\u0430\u0442\u0443\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0418\u0441\u0442\u043e\u0447\u043d\u0438\u043a", "displayName": "\u0418\u0441\u0442\u043e\u0447\u043d\u0438\u043a", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0435\u043a\u0441\u0442_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f", "displayName": "\u0422\u0435\u043a\u0441\u0442_\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0414\u0430\u0442\u0430_\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f", "displayName": "\u0414\u0430\u0442\u0430_\u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "sheets-demand",
      "name": "Sheets: \u0421\u043f\u0440\u043e\u0441",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Flatten: Body').item.json._cfg.tgBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Flatten: Body').item.json._cfg.tgChatId }}\",\n  \"text\": \"\ud83d\udcac <b>\u041d\u043e\u0432\u044b\u0439 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439</b>\\n\\n\u041f\u043e\u0441\u0442: wall-{{ $('Flatten: Body').item.json._cfg.vkGroupId }}_{{ $('Extract: Comment').item.json.post_id }}\\n\u041e\u0442: <a href=\\\"https://vk.com/id{{ $('Extract: Comment').item.json.from_id }}\\\">VK ID {{ $('Extract: Comment').item.json.from_id }}</a>\\n\u0422\u0435\u043a\u0441\u0442: {{ $('Extract: Comment').item.json.text }}\\n\u0420\u0430\u0437\u043c\u0435\u0440: {{ $json.\u0420\u0430\u0437\u043c\u0435\u0440 || '\u043d\u0435 \u0440\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u043d' }} x{{ $json.\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e }}\\n\\n\u23f0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-comment",
      "name": "Telegram: New Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 350]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ 1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u041b\u043e\u0433\u0438_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "\u0422\u0438\u043f": "info",
            "\u0421\u043e\u0431\u044b\u0442\u0438\u0435": "\u041d\u043e\u0432\u044b\u0439 \u043f\u043e\u0441\u0442 \u043d\u0430 \u0441\u0442\u0435\u043d\u0435",
            "\u0414\u0435\u0442\u0430\u043b\u0438": "={{ JSON.stringify($json) }}",
            "\u0421\u0442\u0430\u0442\u0443\u0441": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0438\u043f", "displayName": "\u0422\u0438\u043f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "displayName": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0414\u0435\u0442\u0430\u043b\u0438", "displayName": "\u0414\u0435\u0442\u0430\u043b\u0438", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0430\u0442\u0443\u0441", "displayName": "\u0421\u0442\u0430\u0442\u0443\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-post",
      "name": "Log: New Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 1000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Flatten: Body').item.json._cfg.tgBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Flatten: Body').item.json._cfg.tgChatId }}\",\n  \"text\": \"\ud83d\udcdd <b>\u041d\u043e\u0432\u044b\u0439 \u043f\u043e\u0441\u0442 \u043d\u0430 \u0441\u0442\u0435\u043d\u0435</b>\\n\\n\u23f0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-post",
      "name": "Telegram: New Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 1000]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "cond-err", "leftValue": "={{ $json.event }}", "rightValue": "longpoll_error", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-system-error",
      "name": "IF: LP Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Flatten: Body').item.json._cfg.tgBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Flatten: Body').item.json._cfg.tgChatId }}\",\n  \"text\": \"\u26a0\ufe0f <b>VK Long Poll \u043e\u0448\u0438\u0431\u043a\u0430</b>\\n\\n{{ $json.error }}\\n\\n\u0410\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u043f\u0435\u0440\u0435\u0437\u0430\u043f\u0443\u0441\u043a...\\n\u23f0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-error",
      "name": "Telegram: LP Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Flatten: Body').item.json._cfg.tgBotToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Flatten: Body').item.json._cfg.tgChatId }}\",\n  \"text\": \"\u2705 <b>VK Long Poll \u0437\u0430\u043f\u0443\u0449\u0435\u043d</b>\\n\\n\u23f0 {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-started",
      "name": "Telegram: LP Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ 1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u041b\u043e\u0433\u0438_N8N"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Workflow": "VK_Event_Receiver",
            "\u0422\u0438\u043f": "info",
            "\u0421\u043e\u0431\u044b\u0442\u0438\u0435": "={{ $json.type }}",
            "\u0414\u0435\u0442\u0430\u043b\u0438": "={{ JSON.stringify($json) }}",
            "\u0421\u0442\u0430\u0442\u0443\u0441": "success"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "Workflow", "displayName": "Workflow", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0438\u043f", "displayName": "\u0422\u0438\u043f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "displayName": "\u0421\u043e\u0431\u044b\u0442\u0438\u0435", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0414\u0435\u0442\u0430\u043b\u0438", "displayName": "\u0414\u0435\u0442\u0430\u043b\u0438", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0430\u0442\u0443\u0441", "displayName": "\u0421\u0442\u0430\u0442\u0443\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "log-default",
      "name": "Log: Other Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Flatten: Body').item.json._cfg.webhookBase || 'http://localhost:5678/webhook' }}/vk-ai-reply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"comment_id\": {{ $('Extract: Comment').item.json.comment_id }},\n  \"from_id\": {{ $('Extract: Comment').item.json.from_id }},\n  \"post_id\": {{ $('Extract: Comment').item.json.post_id }},\n  \"text\": {{ JSON.stringify($('Extract: Comment').item.json.text) }},\n  \"date\": {{ JSON.stringify($('Extract: Comment').item.json.date) }}\n}",
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 0
            }
          }
        }
      },
      "id": "call-ai-reply",
      "name": "Call: AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 550],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook: VK Events": {
      "main": [[ { "node": "Flatten: Body", "type": "main", "index": 0 } ]]
    },
    "Flatten: Body": {
      "main": [[ { "node": "Switch: Event Type", "type": "main", "index": 0 } ]]
    },
    "Switch: Event Type": {
      "main": [
        [{ "node": "Extract: Message", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Log: New Post", "type": "main", "index": 0 }],
        [{ "node": "IF: LP Error?", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Extract: Comment", "type": "main", "index": 0 }],
        [{ "node": "Log: Other Event", "type": "main", "index": 0 }]
      ]
    },
    "Extract: Message": {
      "main": [[ { "node": "Log: Message", "type": "main", "index": 0 } ]]
    },
    "Log: Message": {
      "main": [[ { "node": "Telegram: New DM", "type": "main", "index": 0 } ]]
    },
    "Telegram: New DM": {
      "main": [[ ]]
    },
    "Extract: Comment": {
      "main": [[ { "node": "Log: Comment", "type": "main", "index": 0 } ]]
    },
    "Log: Comment": {
      "main": [[ { "node": "Parse: Demand", "type": "main", "index": 0 } ]]
    },
    "Parse: Demand": {
      "main": [[ { "node": "Sheets: \u0421\u043f\u0440\u043e\u0441", "type": "main", "index": 0 } ]]
    },
    "Sheets: \u0421\u043f\u0440\u043e\u0441": {
      "main": [[ { "node": "Telegram: New Comment", "type": "main", "index": 0 } ]]
    },
    "Telegram: New Comment": {
      "main": [[
        { "node": "Call: AI Reply", "type": "main", "index": 0 }
      ]]
    },
    "Call: AI Reply": {
      "main": [[ ]]
    },
    "Log: New Post": {
      "main": [[ { "node": "Telegram: New Post", "type": "main", "index": 0 } ]]
    },
    "Telegram: New Post": {
      "main": [[ ]]
    },
    "IF: LP Error?": {
      "main": [
        [{ "node": "Telegram: LP Error", "type": "main", "index": 0 }],
        [{ "node": "Telegram: LP Started", "type": "main", "index": 0 }]
      ]
    },
    "Telegram: LP Error": {
      "main": [[ ]]
    },
    "Telegram: LP Started": {
      "main": [[ ]]
    },
    "Log: Other Event": {
      "main": [[ ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
