p0-foundation/n8n-workflows/P0-04_Health_Check.json
{
  "name": "P0-04_Health_Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "cron-30min",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/groups.getById",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=group_id={{ __VK_GROUP_ID__ }}&access_token={{ __VK_TOKEN__ }}&v=5.199",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-vk",
      "name": "Check: VK API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:3100/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-longpoll",
      "name": "Check: Long Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:3101/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-user-longpoll",
      "name": "Check: User Long Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 450],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect health check results\nconst vkResult = $('Check: VK API').first();\nconst lpResult = $('Check: Long Poll').first();\nconst userLpResult = $('Check: User Long Poll').first();\n\nconst errors = [];\n\n// Check VK API\nif (vkResult.json?.error) {\n  errors.push(`VK API: ${JSON.stringify(vkResult.json.error)}`);\n}\n\n// Check Long Poll (Groups)\nif (!lpResult.json?.status || lpResult.json.status !== 'ok') {\n  errors.push('VK Long Poll (Groups): не отвечает на /health');\n}\n\n// Check User Long Poll (optional)\nconst userLpOk = userLpResult.json?.status === 'ok';\n\nreturn [{\n  json: {\n    hasErrors: errors.length > 0,\n    errors,\n    summary: errors.length === 0\n      ? 'All systems OK'\n      : `${errors.length} problem(s) found`,\n    lp_stats: lpResult.json || {},\n    user_lp_stats: userLpOk ? userLpResult.json : { status: 'not running' },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "cond-errors", "leftValue": "={{ $json.hasErrors }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "if-errors",
      "name": "IF: Has Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ __TG_BOT_TOKEN__ }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ __TG_CHAT_ID__ }}\",\n  \"text\": \"🔴 <b>Health Check FAILED</b>\\n\\n{{ $json.errors.join('\\\\n') }}\\n\\n⏰ {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-alert-fail",
      "name": "Telegram: HC Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {},
      "id": "noop-ok",
      "name": "All OK (no action)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "cron-6h",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 700]
    },
    {
      "parameters": {
        "jsCode": "// 6-hour summary — just report system status\nconst now = new Date();\nreturn [{\n  json: {\n    message: 'System is running',\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "summary-6h",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ __TG_BOT_TOKEN__ }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ __TG_CHAT_ID__ }}\",\n  \"text\": \"✅ <b>Система работает</b>\\n\\n⏰ {{ $now.format('dd.MM.yyyy HH:mm') }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-6h-report",
      "name": "Telegram: 6h Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 700]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [[
        { "node": "Check: VK API", "type": "main", "index": 0 },
        { "node": "Check: Long Poll", "type": "main", "index": 0 },
        { "node": "Check: User Long Poll", "type": "main", "index": 0 }
      ]]
    },
    "Check: VK API": {
      "main": [[ { "node": "Aggregate Results", "type": "main", "index": 0 } ]]
    },
    "Check: Long Poll": {
      "main": [[ { "node": "Aggregate Results", "type": "main", "index": 0 } ]]
    },
    "Check: User Long Poll": {
      "main": [[ { "node": "Aggregate Results", "type": "main", "index": 0 } ]]
    },
    "Aggregate Results": {
      "main": [[ { "node": "IF: Has Errors?", "type": "main", "index": 0 } ]]
    },
    "IF: Has Errors?": {
      "main": [
        [{ "node": "Telegram: HC Failed", "type": "main", "index": 0 }],
        [{ "node": "All OK (no action)", "type": "main", "index": 0 }]
      ]
    },
    "Every 6 hours": {
      "main": [[ { "node": "Build Summary", "type": "main", "index": 0 } ]]
    },
    "Build Summary": {
      "main": [[ { "node": "Telegram: 6h Report", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
