site-build/wordpress/theme/data/n8n-form-webhook.json
{
  "name": "KuhniRema_Form_Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quick-lead",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-form",
      "name": "Webhook: Form Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "quick-lead"
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalize form payload\nconst body = $input.all().map(item => {\n  const data = item.json.body || item.json;\n  return {\n    json: {\n      form_type: data.form_type || 'quick',\n      name: data.name || '',\n      phone: data.phone || '',\n      page_url: data.page_url || '',\n      utm_source: data.utm_source || '',\n      utm_medium: data.utm_medium || '',\n      utm_campaign: data.utm_campaign || '',\n      address: data.address || '',\n      preferred_time: data.preferred_time || '',\n      timestamp: data.timestamp || $now.format('yyyy-MM-dd HH:mm:ss')\n    }\n  };\n});\nreturn body;"
      },
      "id": "normalize-payload",
      "name": "Normalize: Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build form type labels for Telegram message\nconst formLabels = {\n  'quiz': '\u041a\u0432\u0438\u0437',\n  'zamer': '\u0417\u0430\u043c\u0435\u0440',\n  'callback': '\u041e\u0431\u0440\u0430\u0442\u043d\u044b\u0439 \u0437\u0432\u043e\u043d\u043e\u043a',\n  'competitor_project': '\u041f\u0440\u043e\u0435\u043a\u0442 \u043a\u043e\u043d\u043a\u0443\u0440\u0435\u043d\u0442\u0430',\n  'quick': '\u0411\u044b\u0441\u0442\u0440\u0430\u044f \u0437\u0430\u044f\u0432\u043a\u0430'\n};\n\nconst data = $input.first().json;\nconst formLabel = formLabels[data.form_type] || data.form_type;\n\nlet message = `\ud83d\udce9 <b>\u041d\u043e\u0432\u0430\u044f \u0437\u0430\u044f\u0432\u043a\u0430: ${formLabel}</b>\\n\\n`;\nmessage += `\ud83d\udc64 \u0418\u043c\u044f: ${data.name || '\u2014'}\\n`;\nmessage += `\ud83d\udcde \u0422\u0435\u043b\u0435\u0444\u043e\u043d: ${data.phone}\\n`;\n\nif (data.address) {\n  message += `\ud83c\udfe0 \u0410\u0434\u0440\u0435\u0441: ${data.address}\\n`;\n}\nif (data.preferred_time) {\n  message += `\u23f0 \u0412\u0440\u0435\u043c\u044f: ${data.preferred_time}\\n`;\n}\n\nmessage += `\\n\ud83c\udf10 \u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430: ${data.page_url || '\u2014'}\\n`;\n\nif (data.utm_source) {\n  message += `\ud83d\udcca UTM: ${data.utm_source} / ${data.utm_medium} / ${data.utm_campaign}\\n`;\n}\n\nmessage += `\\n\u23f0 ${data.timestamp}`;\n\nreturn [{ json: { ...data, telegram_message: message, form_label: formLabel } }];"
      },
      "id": "format-telegram",
      "name": "Format: Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_MANAGER_CHAT_ID }}\",\n  \"text\": \"{{ $json.telegram_message }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "tg-send",
      "name": "Telegram: Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1i4R4GJuNJTTh1-KijKLToWFDASaHGgpqgirgyrl0iLY"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "\u0417\u0430\u044f\u0432\u043a\u0438_\u0441\u0430\u0439\u0442"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "\u0422\u0438\u043f_\u0444\u043e\u0440\u043c\u044b": "={{ $json.form_label }}",
            "\u0418\u043c\u044f": "={{ $json.name }}",
            "\u0422\u0435\u043b\u0435\u0444\u043e\u043d": "={{ $json.phone }}",
            "\u0410\u0434\u0440\u0435\u0441": "={{ $json.address }}",
            "\u0412\u0440\u0435\u043c\u044f_\u0437\u0430\u043c\u0435\u0440\u0430": "={{ $json.preferred_time }}",
            "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430": "={{ $json.page_url }}",
            "UTM_Source": "={{ $json.utm_source }}",
            "UTM_Medium": "={{ $json.utm_medium }}",
            "UTM_Campaign": "={{ $json.utm_campaign }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Timestamp", "displayName": "Timestamp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0438\u043f_\u0444\u043e\u0440\u043c\u044b", "displayName": "\u0422\u0438\u043f_\u0444\u043e\u0440\u043c\u044b", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0418\u043c\u044f", "displayName": "\u0418\u043c\u044f", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d", "displayName": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0410\u0434\u0440\u0435\u0441", "displayName": "\u0410\u0434\u0440\u0435\u0441", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0412\u0440\u0435\u043c\u044f_\u0437\u0430\u043c\u0435\u0440\u0430", "displayName": "\u0412\u0440\u0435\u043c\u044f_\u0437\u0430\u043c\u0435\u0440\u0430", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430", "displayName": "\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u0430", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "UTM_Source", "displayName": "UTM_Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "UTM_Medium", "displayName": "UTM_Medium", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "UTM_Campaign", "displayName": "UTM_Campaign", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Google Sheets: Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sa",
          "name": "Google SA"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Form Lead": {
      "main": [
        [
          {"node": "Normalize: Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Normalize: Payload": {
      "main": [
        [
          {"node": "Format: Telegram Message", "type": "main", "index": 0}
        ]
      ]
    },
    "Format: Telegram Message": {
      "main": [
        [
          {"node": "Telegram: Send Notification", "type": "main", "index": 0},
          {"node": "Google Sheets: Append Lead", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
